//primary colors
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
//neutral colors
$white: hsl(0, 0%, 100%);
$dark-saturated: #323949;
$dark-blue: #323949;
$blackish-blue: hsl(234, 17%, 12%);
